

@{
    ViewBag.Title = "RoleMenu";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}

<body>
    <h2>Quản lý menu</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Role
            </th>
            <th>
                Menu
            </th>
            <th></th>
        </tr>
        @if (ViewBag.roleMenu != null)
        {
            List<AdvisorManagement.Models.ViewModel.MenuRole> listRoleMenu = (List<AdvisorManagement.Models.ViewModel.MenuRole>)ViewBag.roleMenu;
            foreach (var item in listRoleMenu)
            {
                <tr>
                    <td>
                        @item.roleName
                    </td>
                    <td>
                        @item.menuName
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>
                </tr>
            }
        }


    </table>
</body>
